{% load static %}
<head>
    <meta charset="utf-8" />
    <title>{{ page_title|default:"Vision" }}</title>
    <meta name="description" content="Vision - AI Object Detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <meta name="google-site-verification" content="_n-taVuD_p0pXVs0GaFoSLEt0AgsM6MhxrvxsG4-m-s" />
    <link rel="icon" href="{% static 'images/avater5827.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lightmode.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/feature.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <script src="{% static 'js/feather.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
